# Don't commit system files or dependencies
*.DS_Store
node_modules/
vendor/bundle

# Ensure Hugo builds aren't committed to Git
public/
site/public/
dist/
.tmp/
_site/
.jekyll-cache/
*.code-workspace
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
uploads/index/Thumbs.db
uploads/Thumbs.db
