<section id="{{ section.slug | slugify }}" class="block block-feature-2">
  <div class="container">
    <div class="columns">
      <div class="column media">
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}" loading="lazy">
      </div>
      <div class="column text">
          <h2><span class="light">{{ section.headline }}</span></h2>
          <p>{{ section.content }}</p>
          {% if section.cta and section.cta.enabled == true %}
          <a class="button primary" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
          {% endif %}
          {% if section.urltext and section.urltext.enabled == true %}
          <div>
            <input style="width: auto;" type="checkbox" name="userinfo" id="userinfo" onchange="checkUserinfoOption()" value="1" checked>
            <label for="userinfo">유저정보 표시</label>
            <input style="width: auto;" type="checkbox" name="theme" id="theme" onchange="checkThemeOption()" value="0">
            <label for="theme">다크모드</label>
          </div>
          <!-- Target -->
          <div class="urltext-group">
            <input id="urltext" value="{{ section.urltext.text }}" readonly/>
            <!-- Trigger -->
            <span>
              <button class="btn" data-clipboard-target="#urltext">
              copy
              </button>
            </span>
          </div>
          {% endif %}
          <p>{{ section.aftercontent }}</p>
      </div>
    </div>
  </div>
</section>
