<section id="{{ section.slug | slugify }}" class="block block-feature-2">
  <style>
    @font-face {
      font-family: 'CookieRun-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'ONE-Mobile-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    .instalive-option {
      display: none;
    }
    .preview-box iframe {
      display: none;
    }
    .preview-box.instalive .instalive,
    .preview-box.smm .smm,
    .preview-box.smm-s .smm-s {
      display: block;
    }
    .chat-box {
      font-family: 'CookieRun-Regular', sans-serif;
      bottom: 10px;
      width: auto;
      padding-left: 1em;
      max-width: 210px;
      background: tranparent;
      overflow: hidden;
      max-height: 0px;
      transition: opacity 2s, max-height 1s, margin-top 1s;
      animation: shake .3s;
      animation-iteration-count: 2;
      margin-top: 10px;
      max-height: 340px;
      left: 25%;
      display: flex;
      position: relative;
    }
    .chat-line {
      padding: 12px;
      animation: shake 4s;
      animation-iteration-count: infinite;
    }
    .chat-line .chat-user .chat-user-avatar {
      width: 46px;
      height: 46px;
      margin-left: 12px;
      background-repeat: no-repeat !important;
      filter: drop-shadow(1px 1px 2px black);
      animation: shake 2s;
      animation-iteration-count: infinite;
    }
    .chat-line .chat-user .badges {
      top: 36px;
      right: 9px;
      position: absolute;
      filter: opacity(0.8);
      width: 18px;
      line-height: .5;
    }
    .chat-line .chat-line-bg {
      background: transparent;
      margin-right: 16px;
      border-radius: 28px;
      box-shadow: 4px 4px 8px 0px #000000;
    }
    .chat-line .chat-line-inner {
      position: relative;
      margin-bottom: 16px;
      font-size: 1.05em;
      line-height: 1.8em;
      background-color: #fff;
      border: 4px solid black;
      border-radius: 24px;
      overflow-wrap: break-word;
      border-color: rgb(229, 71, 76);
      color: rgb(229, 71, 76);
    }
    .chat-line .chat-line-inner.fever {
      background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
      -webkit-background-clip: text;
      animation: hue 1s infinite linear;
    }
    .chat-line .chat-line-inner.admin .message {
      opacity: 0.4;
    }
    .chat-line .chat-line-inner-tail {
      content: "";
      position: absolute;
      bottom: 2px;
      left: -18px;
      border-style: solid;
      border-width: 15px 15px 0;
      display: block;
      width: 0;
      z-index: .9;
      border-color: rgb(229, 71, 76) transparent;
    }
    .chat-line .chat-line-inner-tail-shadow {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 18px;
      border-style: solid;
      border-width: 16px 15px 0;
      border-color: rgba(0,0,0,.4) transparent;
      display: block;
      width: 0;
      z-index: .9;
    }
    .user-name {
      display: block;
      font-size: 1em;
      font-weight: bold;
      color: #fff;
      padding: .2em 1em;
      border: 2px solid;
      border-radius: 16px 16px 0 0;
      text-shadow: 2px 2px 1px rgb(0 0 0), 2px 1px 4px rgb(0 0 0), 2px 3px 3px rgb(0 0 0);
      color: rgb(249, 172, 175);
      background: rgb(229, 71, 76);
      border-color: rgb(229, 71, 76);
    }
    .user-name.noinfo {
      display: none;
    }
    .message {
      min-width: 32px;
      font-size: 1.1em;
      white-space: normal;
      line-height: 1.6;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.7em 0.7em;
      border-radius: 0px 0 20px 20px;
      text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
      background: rgba(249, 172, 175, .2);
    }
    .message img {
      vertical-align: text-bottom;
    }
    .message img.emoji {
      width: 20px;
    }
    .message.black {
      color: #160000;
    }

    /* Dark Theme */
    .chat-box.dark .message {
      text-shadow: none;
      background: rgba(252, 131, 163, 0.2);
    }
    .chat-box.dark .user-name {
      text-shadow: none;
      color: rgb(173, 3, 48); background: rgb(252, 131, 163); border-color: rgb(252, 131, 163);
    }
    .chat-box.dark .chat-line .chat-line-inner {
      border-color: rgb(252, 131, 163); color: rgb(252, 131, 163); background: rgb(0, 0, 0);
    }
    .chat-box.dark .chat-line .chat-line-inner-tail {
      border-color: rgb(252, 131, 163) transparent;
    }
    /* MLT Theme */
    .chat-box.mlt {
      opacity: 0;
      transition: opacity .3s;
    }
    .chat-box.mlt.visible {
      opacity: 100%;
      transition: opacity .4s;
    }
    .chat-box.mlt .message {
      -webkit-line-clamp: 6;
      border-radius: 0;
      padding: 8px 8px 8px 24px;
    }
    .chat-box.mlt .chat-line .chat-line-inner {
      border-radius: 0;
      filter: drop-shadow(0 0 0.3rem);
    }
    .chat-box.mlt .chat-line .chat-line-bg {
      box-shadow: none;
    }
    .chat-box.mlt .chat-line .chat-line-inner-tail, 
    .chat-box.mlt .chat-line .chat-line-inner-tail-shadow {
      display: none;
    }
    .chat-box.mlt .user-name {
      display: none;
    }
    .chat-box.mlt .chat-user {
      position: absolute;
      top: 1.1em;
      left: -1.3em;
    }
    .chat-box.mlt .chat-line .chat-user .chat-user-avatar {
      animation: none;
    }
    .chat-box.mlt .chat-line .chat-user .badges {
      display: flex;
      transform: scale(.8);
      filter: opacity(1);
      top: -18px;
      right: 10px;
      line-height: 1;
    }

    /* SMM Theme  */
    .chat-box.smm {
      position: initial;
      padding-left: 0;
      display: flex;
      align-items: flex-end;
      animation: none;
      max-height: 400px;
      max-width: 0;
      width: auto;
      transform: translate(0px, 800px);
      transition: transform 200ms, max-width 400ms;
    }
    .chat-box.smm.visible {
      margin-top: 0px;
      padding-left: 16px;
      padding-bottom: 14px;
      max-width: 368px;
      width: auto;
      transform: translate(0px, 0px);
      transition: transform 100ms, max-width 100ms;
    }
    .chat-box.smm .chat-line {
      display: flex;
      align-items: flex-end;
      animation: none;
      padding: .4em;
    }
    .chat-box.smm .chat-line .chat-line-bg {
      background: transparent;
      order: 2;
      box-shadow: none;
      padding-left: 18px;
      padding-bottom: 38px;
      margin-right: 2px;
    }
    .chat-box.smm .chat-line .chat-line-inner {
      border-radius: 12px;
      border-width: 6px;
      background-color: transparent;
    }
    .chat-box.smm .chat-line .chat-line-inner-tail {
      bottom: 0px;
      left: 4px;
      border-style: none;
      border-top: 10px solid transparent !important;
      border-right: 18px solid;
    }
    .chat-box.smm .chat-line .chat-line-inner-tail-shadow {
      bottom: 8px;
      left: -40px;
      border-color: transparent;
    }
    .chat-box.smm .chat-line .chat-user {
      order: 1;
    }
    .chat-box.smm .chat-line .chat-user::before {
      content: "";
      display: block;
      height: 77px;
      width: 77px;
      background-color: white;
      border-radius: 100px;
      border: 8px solid;
      position: absolute;
      z-index: -1;
    }
    .chat-box.smm .chat-line .chat-user .chat-user-avatar {
      animation: none;
      height: 77px;
      width: 77px;
      margin-left: 0;
      border-radius: 100px;
      border: 8px solid;
      border-color: rgb(229, 71, 76);
      background-size: 60px !important;
      background-position: center !important;
      filter: none;
    } 
    .chat-box.smm .chat-line .chat-user .badges {
      top: auto;
      right: auto;
      left: 90px;
      bottom: 20px;
      width: 52px;
    }
    .chat-box.smm .message {
      font-family: 'ONE-Mobile-Regular';
      font-weight: 500;
      border-radius: 6px;
      padding: 2px 12px;
      font-size: 29px;
      text-shadow: none;
      background: rgba(255,255,255,.8) !important;
    }
    .chat-box.smm .message.onecharacter img {
      padding-top: 4px;
      width: 3em;
    }
    .chat-box.smm .user-name {
      position: absolute;
      color: transparent;
      bottom: -8px;
      left: -112px;
      text-shadow: none;
      border-radius: 40px;
      border-width: 4px;
      background: white !important;
      height: 34px;
      width: 34px;
      padding: 2px;
      overflow: hidden;
      font-size: 0px;
      letter-spacing: 6px;
      text-align: left;
    }
    .chat-box.smm .user-name::first-letter {
      font-size: 32px;
      padding: 4px;
      line-height: 1;
      text-transform: uppercase;
    }

    /* SMM S size */
    .chat-box.smm.sizes {

    }
    .chat-box.smm.sizes .chat-line .chat-line-inner {
      border-width: 4px;
    }
    .chat-box.smm.sizes .chat-line .chat-line-bg {
      padding-bottom: 4px;
    }
    .chat-box.smm.sizes .chat-line .chat-user::before {
      height: 36px;
      width: 36px;
      border-width: 4px;
    }
    .chat-box.smm.sizes .chat-line .chat-user .chat-user-avatar {
      height: 36px;
      width: 36px;
      border-width: 4px;
      background-size: 30px !important;
    }
    .chat-box.smm.sizes .user-name {
      height: 16px;
      width: 16px;
      left: -62px;
      bottom: 2px;
      padding: 2px;
      border-width: 2px;
      line-height: 1.2;
    }
    .chat-box.smm.sizes .user-name::first-letter {
      font-size: 14px;
      padding: 1px;
      line-height: 1.2;
      text-transform: uppercase;
    }
    .chat-box.smm.sizes .chat-line .chat-user .badges {
      left: 52px;
    }
    .chat-box.smm.sizes .message {
      font-size: 1.1em;
    }
    /* instalive theme */
    .chat-box.instalive {
      display: none;
    }

    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    @keyframes slide {
      0% {
        margin-left: 0px;  
      }
      100% {
        margin-left: 200px;  
      }
    }
    @keyframes hue {
      from {
        -webkit-filter: hue-rotate(0deg);
      }
      to {
        -webkit-filter: hue-rotate(360deg);
      }
    }
  </style>
  <div class="container">
    <div class="columns">
      <div class="column media">
        <div class="preview-box" id="preview-box">
          <iframe class="smm" src="https://player.twitch.tv/?video=1548152449&parent=cbatools.github.io&autoplay=false" frameborder="0" allowfullscreen="true" autoplay="false" scrolling="no" height="271" width="480"></iframe>
          <iframe class="smm-s" src="https://player.twitch.tv/?video=1548152478&parent=cbatools.github.io&autoplay=false" frameborder="0" allowfullscreen="true" autoplay="false" scrolling="no" height="271" width="480"></iframe>
        </div>
        <div class="chat-box visible" id="chat-box">
          <div class="chat-line">
            <div class="chat-line-bg">
              <div class="chat-line-inner" id="chat-line-inner">
                <div class="chat-line-inner-tail-shadow">
                  <div class="chat-line-inner-tail" id="chat-line-inner-tail">
                  </div>
                </div>
                <span> </span>
                <span class="user-name" id="user-name">오버_</span>
                <span class="message black" id="message">
                  안녕하세요! 말풍선 채팅 샘플입니다! 모양을 확인해보세요~</span>
              </div>
            </div>
            <div class="chat-user">
              <div class="chat-user-avatar" id="chat-user-avatar" style="background: url(https://avatars.dicebear.com/api/big-smile/over.svg);"></div>
              <span class="badges"><img src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1" badgetype="broadcaster" alt="broadcaster" class="badge"></span>
            </div>
          </div>
        </div>
        <div>* 옵션이 적용된 모양을 확인해보세요.</div>
        <div>* 실제 채팅은 랜덤으로 색과 아바타가 나옵니다.</div>
      </div>
      <div class="column text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <p>{{ section.content }}</p>
        {% if section.cta and section.cta.enabled == true %}
        <a class="button primary" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {% endif %}
        {% if section.urltext and section.urltext.enabled == true %}
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">ID</label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  twitch.tv/
                </a>
              </p>
              <p class="control is-expanded">
                <input class="input" id='twitchID' onkeyup='printName()' placeholder='트위치ID 를 입력해주세요'/>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">테마선택</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="theme" id="theme" onchange="selectThemeOption()">
                    <option value="light">밝은느낌(기본)</option>
                    <option value="dark">어두운느낌</option>
                    <option value="mlt">MLT</option>
                    <option value="smm">SMM</option>
                    <option value="smm-s">SMM작게</option>
                    <option value="instalive">인스타라이브</option>
                  </select>
                </div>
                <div class="field-body instalive-option">
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input style="width: auto;" type="checkbox" name="hideBottomBackgroundColor" id="hideBottomBackgroundColor" onchange="checkHideBottomBackgroundColorOption()" value="0">
                        하단 배경색 숨기기
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input style="width: auto;" type="checkbox" name="hideStreamerInfo" id="hideStreamerInfo" onchange="checkHideStreamerInfoOption()" value="0">
                        상단 왼쪽 스트리머 정보 숨기기
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input style="width: auto;" type="checkbox" name="hideLiveBanner" id="hideLiveBanner" onchange="checkHideLiveBannerOption()" value="0">
                        상단 오른쪽 배너 숨기기
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input style="width: auto;" type="checkbox" name="hideHeartEmojiFlow" id="hideHeartEmojiFlow" onchange="checkHideHeartEmojiFlowOption()" value="0">
                        하단 하트플로우 숨기기
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">아바타선택</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="avatar" id="avatar" onchange="selectAvatarOption()">
                    <option value="hide">숨김</option>
                    <option value="gridy">그리디(기본)</option>
                    <option value="adventurer">어드벤처</option>
                    <option value="avataaars">아바타르</option>
                    <option value="big-ears">큰귀</option>
                    <option value="big-smile" selected>큰웃음</option>
                    <option value="bottts">로봇</option>
                    <option value="human">인간</option>
                    <option value="micah">선지자</option>
                    <option value="miniavs">미니</option>
                    <option value="open-peeps">핍</option>
                    <option value="personas">페르소나</option>
                    <option value="pixel-art">픽셀아트</option>
                    <option value="whiteperson">흰실루엣</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal fever-field">
          <div class="field-label">
            <label class="label" style="
            color: #f35626;
            background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
            -webkit-background-clip: text;
            text-fill-color: transparent;
            animation: hue 1s infinite linear;">
              FEVER!
            </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input style="width: auto;" type="checkbox" name="fever" id="fever" onchange="checkFeverOption()" value="0">
                  색이 화려하게 변신!!
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">유저닉네임</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input style="width: auto;" type="checkbox" name="userinfo" id="userinfo" onchange="checkUserinfoOption()" value="1" checked>
                  표시하기
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">기타 옵션</label>
          </div>
          <div class="field-body">
            <div class="field messageblack-option">
              <div class="control">
                <label class="checkbox">
                  <input style="width: auto;" type="checkbox" name="messageblack" id="messageblack" onchange="selectMessageColorOption()" value="black" checked>
                  메세지 색을 검은색으로
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input style="width: auto;" type="checkbox" name="onecharacter" id="onecharacter" onchange="checkOneCharacterOption()" value="1" checked>
                  트위치 이모티콘 하나면 크게
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input style="width: auto;" type="checkbox" name="lol" id="lol" onchange="checkLOLOption()" value="1" checked>
                  ㅋㅋㅋ는 더 흔들흔들
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input style="width: auto;" type="checkbox" name="streamermessage" id="streamermessage" onchange="checkStreamerMessageOption()" value="1">
                  스트리머 메세지 안보이게
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">채팅봇 숨기기</label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  봇ID
                </a>
              </p>
              <p class="control is-expanded">
                <input class="input" id='botID' onkeyup='botHide()' placeholder='봇ID 를 입력해주세요'/>
              </p>
            </div>
            <div class="field has-addons">
              * nightbot, 싹둑은 기본으로 숨겨져있습니다.
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">채팅창주소</label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" id="urltext" value="{{ section.urltext.text }}" readonly/>
              </p>
              <div class="control">
                <a class="button is-info" data-clipboard-target="#urltext">
                  복사!
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <p>{{ section.aftercontent }}</p>
      </div>
    </div>
  </div>
</section>
