  </body>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
  <script>
    const urltext = document.getElementById("urltext").value;
    let url = new URL(urltext);
    let theme = 0;

    let params = new URLSearchParams(url.search);
    var clipboard = new ClipboardJS('.button');
    
    clipboard.on('success', function (e) {
      console.log(e);
    });

    clipboard.on('error', function (e) {
      console.log(e);
    });

    function printName() {
      const twitchID = document.getElementById('twitchID').value;
      url.searchParams.set('id', twitchID);
      document.getElementById("urltext").value = url;
    }
    
    function checkUserinfoOption() {
      const userinfo = document.getElementById('userinfo').checked;
      let nameEle = document.getElementById('user-name');
      if (userinfo) {
        url.searchParams.delete('userinfo');
        nameEle.classList.remove('noinfo');
      } else {
        url.searchParams.set('userinfo', 0);
        nameEle.classList.add('noinfo');
      }
      document.getElementById("urltext").value = url;
    }

    function checkOneCharacterOption() {
      const onecharacter = document.getElementById('onecharacter').checked;
      if (onecharacter) {
        url.searchParams.delete('one');
      } else {
        url.searchParams.set('one', 0);
      }
      document.getElementById("urltext").value = url;
    }

    function checkLOLOption() {
      const lol = document.getElementById('lol').checked;
      if (lol) {
        url.searchParams.set('lol', 1);
      } else {
        url.searchParams.delete('lol');
      }
      document.getElementById("urltext").value = url;
    }

    function checkStreamerMessageOption() {
      const streamermessage = document.getElementById('streamermessage').checked;
      if (streamermessage) {
        url.searchParams.set('streamermessage', 0);
      } else {
        url.searchParams.delete('streamermessage');
      }
      document.getElementById("urltext").value = url;
    }
        
    function checkFeverOption() {
      const fever = document.getElementById('fever').checked;
      let chatLineInner = document.getElementById('chat-line-inner');

      if (fever) {
        url.searchParams.set('fever', 1);
        chatLineInner.classList.add('fever');
      } else {
        url.searchParams.delete('fever');
        chatLineInner.classList.remove('fever');
      }
      document.getElementById("urltext").value = url;
    }

    function selectThemeOption() {
      const theme = document.getElementById('theme').value;

      let chatBox = document.getElementById('chat-box');

      if (theme == 'dark') {
        url.searchParams.set('theme', 'dark');
        chatBox.classList.remove('mlt');
        chatBox.classList.add('dark');
      } else if (theme == 'mlt') {
        url.searchParams.set('theme', 'mlt');
        chatBox.classList.remove('dark');
        chatBox.classList.add('mlt');
      } else {
        url.searchParams.delete('theme', '');
        chatBox.classList.remove('dark');
        chatBox.classList.remove('mlt');
      }
      document.getElementById("urltext").value = url;
    }

    function selectAvatarOption() {
      const avatar = document.getElementById('avatar').value;

      let chatUserAvatar = document.getElementById('chat-user-avatar');

      if (avatar == 'gridy') {
        url.searchParams.set('avatar', 'gridy');
        chatUserAvatar.style.backgroundImage = 'url(https://avatars.dicebear.com/api/gridy/107712711.svg)';
      } else if (avatar == 'hide') {
        url.searchParams.set('avatar', '0');
        chatUserAvatar.style.backgroundImage = '';

      } else {

      }
      document.getElementById("urltext").value = url;
    }
    

  </script>
</html>
