  </body>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
  <script>
    const urltext = document.getElementById("urltext").value;
    let url = new URL(urltext);
    let theme = 0;

    let params = new URLSearchParams(url.search);
    var clipboard = new ClipboardJS('.button');
    
    clipboard.on('success', function (e) {
      console.log(e);
    });

    clipboard.on('error', function (e) {
      console.log(e);
    });

    function printName() {
      const twitchID = document.getElementById('twitchID').value;
      url.searchParams.set('id', twitchID);
      document.getElementById("urltext").value = url;
    }
    function botHide() {
      const botID = document.getElementById('botID').value;
      url.searchParams.set('hideuser', botID);
      document.getElementById("urltext").value = url;
    }
    
    function checkUserinfoOption() {
      const userinfo = document.getElementById('userinfo').checked;
      let nameEle = document.getElementById('user-name');
      if (userinfo) {
        url.searchParams.delete('userinfo');
        nameEle.classList.remove('noinfo');
      } else {
        url.searchParams.set('userinfo', 0);
        nameEle.classList.add('noinfo');
      }
      document.getElementById("urltext").value = url;
    }

    function checkOneCharacterOption() {
      const onecharacter = document.getElementById('onecharacter').checked;
      if (onecharacter) {
        url.searchParams.delete('one');
      } else {
        url.searchParams.set('one', 0);
      }
      document.getElementById("urltext").value = url;
    }

    function checkComicOption() {
      const comic = document.getElementById('comic').checked;
      if (comic) {
        url.searchParams.set('comic', 1);
      } else {
        url.searchParams.set('comic', 0);
      }
      document.getElementById("urltext").value = url;
    }

    function checkLOLOption() {
      const lol = document.getElementById('lol').checked;
      if (lol) {
        url.searchParams.set('lol', 1);
      } else {
        url.searchParams.delete('lol');
      }
      document.getElementById("urltext").value = url;
    }

    function checkStreamerMessageOption() {
      const streamermessage = document.getElementById('streamermessage').checked;
      if (streamermessage) {
        url.searchParams.set('streamermessage', 0);
      } else {
        url.searchParams.delete('streamermessage');
      }
      document.getElementById("urltext").value = url;
    }
        
    function checkFeverOption() {
      const fever = document.getElementById('fever').checked;
      let chatLineInner = document.getElementById('chat-line-inner');

      if (fever) {
        url.searchParams.set('fever', 1);
        chatLineInner.classList.add('fever');
      } else {
        url.searchParams.delete('fever');
        chatLineInner.classList.remove('fever');
      }
      document.getElementById("urltext").value = url;
    }

    function checkHideBottomBackgroundColorOption() {
      const checked = document.getElementById('hideBottomBackgroundColor').checked;
      let option = url.searchParams.get('option').toString().split('');
      
      if (checked) {
        option[3] = 1;
      } else {
        option[3] = 0;
      }
      let resultoption = '';
      option.forEach(v => {
        resultoption = resultoption + v;
      });

      url.searchParams.set('option', resultoption);
      document.getElementById("urltext").value = url;
    }

    function checkHideStreamerInfoOption() {
      const checked = document.getElementById('hideStreamerInfo').checked;
      let option = url.searchParams.get('option').toString().split('');
      
      if (checked) {
        option[2] = 1;
      } else {
        option[2] = 0;
      }
      let resultoption = '';
      option.forEach(v => {
        resultoption = resultoption + v;
      });

      url.searchParams.set('option', resultoption);
      document.getElementById("urltext").value = url;
    }

    function checkHideLiveBannerOption() {
      const checked = document.getElementById('hideLiveBanner').checked;
      let option = url.searchParams.get('option').toString().split('');
      
      if (checked) {
        option[0] = 1;
      } else {
        option[0] = 0;
      }
      let resultoption = '';
      option.forEach(v => {
        resultoption = resultoption + v;
      });

      url.searchParams.set('option', resultoption);
      document.getElementById("urltext").value = url;
    }

    function checkHideHeartEmojiFlowOption() {
      const checked = document.getElementById('hideHeartEmojiFlow').checked;
      let option = url.searchParams.get('option').toString().split('');
      
      if (checked) {
        option[1] = 1;
      } else {
        option[1] = 0;
      }
      let resultoption = '';
      option.forEach(v => {
        resultoption = resultoption + v;
      });

      url.searchParams.set('option', resultoption);
      document.getElementById("urltext").value = url;
    }

    function selectMessageColorOption() {
      const messageblack = document.getElementById('messageblack').checked;
      const messagecolor = document.getElementById('messageblack').value;
      let messageEle = document.getElementById('message');

      if (messageblack) {
        url.searchParams.set('messagecolor', messagecolor);
        messageEle.classList.add('black');
      } else {
        url.searchParams.delete('messagecolor');
        messageEle.classList.remove('black');
      }

      document.getElementById("urltext").value = url;
    }

    function selectThemeOption() {
      const theme = document.getElementById('theme').value;

      let chatBox = document.getElementById('chat-box');
      let previewBox = document.getElementById('preview-box');

      url.searchParams.delete('size');

      chatBox.className = 'chat-box visible';
      previewBox.className = 'preview-box';

      if (theme == 'dark') {
        let messageEle = document.getElementById('message');

        url.searchParams.set('theme', 'dark');
        url.searchParams.delete('messagecolor');
        messageEle.classList.remove('black');
        document.getElementById('messageblack').checked = 0;

        chatBox.classList.add('dark');

      } else if (theme == 'mlt') {
        url.searchParams.set('theme', 'mlt');

        chatBox.classList.add('mlt');

      } else if (theme == 'smm') {
        url.searchParams.set('theme', 'smm');

        chatBox.classList.add('smm');
        previewBox.classList.add('smm');

      } else if (theme == 'instalive') {
        url.searchParams.set('theme', 'instalive');
        url.searchParams.set('option', '0000');
        url.searchParams.delete('messagecolor');

        chatBox.classList.add('instalive');
        previewBox.classList.add('instalive');

        document.getElementsByClassName('instalive-option')[0].style.display = 'block';
        document.getElementsByClassName('fever-field')[0].style.display = 'none';
        document.getElementsByClassName('messageblack-option')[0].style.display = 'none';
      } else if (theme == 'smm-s') {
        url.searchParams.set('theme', 'smm');
        url.searchParams.set('size', 's');

        chatBox.classList.add('smm');
        chatBox.classList.add('sizes');
        previewBox.classList.add('smm-s');
      } else {
        url.searchParams.delete('theme', '');
      }
      if (theme != 'instalive') {
        document.getElementsByClassName('instalive-option')[0].style.display = 'none';
        document.getElementsByClassName('fever-field')[0].style.display = 'flex';
        document.getElementsByClassName('messageblack-option')[0].style.display = 'inline-block';

        selectMessageColorOption();
        document.getElementById('hideBottomBackgroundColor').checked = false;
        document.getElementById('hideStreamerInfo').checked = false;
        document.getElementById('hideLiveBanner').checked = false;
        document.getElementById('hideHeartEmojiFlow').checked = false;

        url.searchParams.delete('option');
      }
      document.getElementById("urltext").value = url;
    }

    function selectAvatarOption() {
      const avatar = document.getElementById('avatar').value;

      let chatUserAvatar = document.getElementById('chat-user-avatar');

      if (avatar == 'gridy') {
        url.searchParams.set('avatar', 'gridy');
        chatUserAvatar.style.backgroundImage = 'url(https://api.dicebear.com/7.x/big-smile/svg?seed=over)';
      } else if (avatar == 'hide') {
        url.searchParams.set('avatar', '0');
        chatUserAvatar.style.backgroundImage = '';
      } else {
        let random = Math.floor(mulberry32(Date.now()) * 8000 + 1);
        url.searchParams.set('avatar', avatar);
        chatUserAvatar.style.backgroundImage = 'url(https://api.dicebear.com/7.x/'+ avatar +'/svg?seed='+ random +')';
      }
      document.getElementById("urltext").value = url;
    }
    
    // 랜덤 숫자 생성기 a : 시드
    function mulberry32(a) {
      var t = a += 0x6D2B79F5;
      t = Math.imul(t ^ t >>> 15, t | 1);
      t ^= t + Math.imul(t ^ t >>> 7, t | 61);
      return ((t ^ t >>> 14) >>> 0) / 4294967296;
    }

  </script>
</html>
