:root {
  --prediction : 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BRBA_B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: transparent;
  color: transparent;
  font-family: 'CookieRun-Regular', sans-serif;
  overflow: hidden;
}

#chat {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 120%;
  flex-direction: row;
}

#layout {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#layout .heart {
  position: absolute;
  bottom: -100px;
  right: 40px;
  color: white;
  width: auto;
  height: auto;
  font-size: 3em;
  z-index: 1;
  opacity: .9;
  transition: bottom 50ms, opacity 5ms;
}
#layout .heart.active {
  opacity: 0;
  bottom: 500px;
  right: 40px;
  transition: bottom 10000ms, opacity 3000ms ease-in-out 3000ms;
  animation: 400ms ease-in-out 0s infinite alternate left-to-right;
}
#layout.instalive .infotag {
  padding-left: 2em;
  padding-top: 1em;
  display: flex;
  align-items: center;
}
#layout.instalive .infotag .streamer-id {
  font-family: 'Pretendard-Regular';
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  padding-left: .8em;
  filter: drop-shadow(0px 1px 1px #333);
}
#layout.instalive .infotag .streamer-pic {
  background-size: cover;
  width: 68px;
  height: 68px;
  border-radius: 80px;
}
#layout.instalive .livebanner {
  display: flex;
  background-color: #e81a5c;
  width: 112px;
  height: 48px;
  position: absolute;
  right: 2em;
  top: 1.4em;
  border-radius: 8px;
  align-items: center;
  align-content: center;
}
#layout.instalive .livebanner span {
  font-family: 'Pretendard-Regular';
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  width: 100%;
}

.chat-box {
  position: absolute;
  padding-right: 1em;
  padding-left: 1em;
  width: auto;
  max-width: 226px;
  bottom: -1200px;
  background: tranparent;
  overflow: hidden;
  transition: bottom 300ms;
}
.chat-box.visible {
  padding-left: 1em;
  bottom: 10px;
  transition: bottom 300ms;
  animation: shake .2s;
  animation-iteration-count: 2;
  /* animation: slide 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out; */
}
.chat-line {
  padding: 1em;
  padding-top: 4em;
  padding-right: 2em;
  padding-bottom: .4em;
  animation: shake 4s;
  animation-iteration-count: infinite;
}
.chat-line.lol-animation {
  animation: shake .7s;
  animation-iteration-count: infinite;
}
.chat-line.visible {
  margin-top: 10px;
  max-height: 340px;
}
.chat-line .chat-user .chat-user-avatar {
  width: 46px;
  height: 46px;
  margin-left: 6px;
  background-repeat: no-repeat !important;
  filter: drop-shadow(1px 1px 2px black);
  animation: shake 2s;
  animation-iteration-count: infinite;
}
.chat-line .chat-user .chat-user-avatar.hide {
  display: none;
}
.chat-line .chat-user .badges {
  top: 80px;
  left: -3px;
  position: absolute;
  filter: opacity(0.8);
  width: 18px;
  line-height: .5;
}
.chat-line .chat-user .badges img {
  border-radius: 5px;
}
.chat-line .chat-line-bg {
  background: #fff;
  margin-right: 16px;
  border-radius: 28px;
  box-shadow: 3px 3px 5px 0px #000000;
}
.chat-line .chat-line-inner {
  position: relative;
  margin-bottom: 16px;
  font-size: 1.05em;
  line-height: 1.8em;
  color: #444;
  background-color: #fff;
  border: 4px solid black;
  border-radius: 24px;
  overflow-wrap: break-word;
}
.chat-line .chat-line-inner.fever {
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  animation: hue 1s infinite linear;
}
.chat-line .chat-line-inner.admin .message {
  opacity: 0.4;
}
.chat-line .chat-line-inner-tail {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: -1px;
  top: -1px;
  clip-path: url(#tail);
}
.chat-line .chat-line-inner-tail-shadow {
  content: "";
  position: absolute;
  display: block;
  bottom: -28px;
  left: 19px;
  width: 24px;
  height: 24px;
  background-color: #00000080;
  clip-path: url(#tail);
}
.user-name {
  font-family: 'ONE-Mobile-POP';
  display: block;
  position: absolute;
  top: -34px;
  font-size: 1em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  padding: .1em .3em;
  border: 2px solid;
  border-radius: 8px;
  max-width: 110px;
  max-height: 21px;
}
.user-name-text {
  line-height: 1.3;
  vertical-align: super;
  filter: brightness(1.3) drop-shadow(1px 1px 2px rgb(0, 0, 0));
  -webkit-font-smoothing: 4em;
}
.message {
  max-height: 232px;
  min-width: 32px;
  font-size: 1.1em;
  white-space: normal;
  line-height: 1.6;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.6em;
  border-radius: 20px;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.message.black {
  color: #160000;
}
.message.onecharacter {
  font-size: 1.8em;
  padding: 6px;
  line-height: 1;
}
.message.onecharacter img {
  width: 2em;
  border-radius: 9px;
}

.message img {
  width: 1.18em;
  vertical-align: text-bottom;
}
.message img.emoji {
  width: 20px;
}

/* Dark Theme */
.chat-box.dark .message {
  text-shadow: none;
}
.chat-box.dark .user-name {
  text-shadow: none;
}
.chat-box.dark .user-name .user-name-text {
  filter: brightness(.5);
}
/* MLT Theme */
.chat-box.mlt {
  opacity: 0;
  transition: opacity 300ms;
}
.chat-box.mlt.visible {
  opacity: 100%;
  transition: opacity 300ms;
}
.chat-box.mlt .message {
  -webkit-line-clamp: 6;
  border-radius: 0;
  padding: 8px 8px 8px 20px;
}
.chat-box.mlt .chat-line .chat-line-inner {
  border-radius: 0;
  filter: drop-shadow(0 0 0.3rem);
}
.chat-box.mlt .chat-line .chat-line-bg {
  border-radius: 0;
  box-shadow: none;
}
.chat-box.mlt .user-name,
.chat-box.mlt .chat-line .chat-line-inner-tail,
.chat-box.mlt .chat-line .chat-line-inner-tail-shadow {
  display: none !important;
}
.chat-box.mlt .chat-user {
  position: absolute;
  top: 4.2em;
  left: -1.1em;
}
.chat-box.mlt .chat-line .chat-user .chat-user-avatar {
  animation: none;
}
.chat-box.mlt .chat-line .chat-user .badges {
  display: flex;
  transform: scale(.8);
  filter: opacity(1);
  top: -18px;
  left: 32px;
  line-height: 1;
}
/* SMM Theme  */
.chat-box.smm {
  position: initial;
  padding-left: 0;
  display: flex;
  align-items: flex-end;
  animation: none;
  max-height: 400px;
  max-width: 0;
  width: auto;
  transform: translate(0px, 800px);
  transition: transform 200ms, max-width 400ms;
}
.chat-box.smm.visible {
  margin-top: 0px;
  padding-left: 6px;
  padding-bottom: 14px;
  max-width: 430px;
  width: auto;
  transform: translate(0px, 0px);
  transition: transform 100ms, max-width 100ms;
}
.chat-box.smm .chat-line {
  display: flex;
  align-items: flex-end;
  animation: none;
  padding: .4em;
}
.chat-box.smm .chat-line .chat-line-bg {
  background: transparent;
  order: 2;
  box-shadow: none;
  padding-left: 18px;
  padding-bottom: 38px;
  margin-right: 2px;
}
.chat-box.smm .chat-line .chat-line-inner {
  border-radius: 12px;
  border-width: 6px;
  background-color: transparent;
}
.chat-box.smm .chat-line .chat-line-inner-tail {
  bottom: 0px;
  left: 4px;
  border-style: none;
  border-top: 10px solid transparent !important;
  border-right: 18px solid;
}
.chat-box.smm .chat-line .chat-line-inner-tail-shadow {
  background-color: transparent;
  bottom: 0px;
  left: -26px;
  border-color: transparent;
  transform: rotateY(180deg) rotateZ(-90deg);
}
.chat-box.smm .chat-line .chat-user {
  order: 1;
}
.chat-box.smm .chat-line .chat-user::before {
  content: "";
  display: block;
  height: 77px;
  width: 77px;
  background-color: white;
  border-radius: 100px;
  border: 8px solid;
  position: absolute;
  z-index: -1;
}
.chat-box.smm .chat-line .chat-user .chat-user-avatar {
  animation: none;
  height: 77px;
  width: 77px;
  margin-left: 0;
  border-radius: 100px;
  border: 8px solid;
  color: black;
  background-size: 77px !important;
  background-position: center !important;
  filter: none;
} 
.chat-box.smm .chat-line .chat-user .badges {
  top: auto;
  right: auto;
  left: 90px;
  bottom: 20px;
  width: 52px;
}
.chat-box.smm .message {
  font-family: 'ONE-Mobile-Regular';
  font-weight: 500;
  border-radius: 6px;
  padding: 2px 12px;
  font-size: 29px;
  text-shadow: none;
  background: rgba(255,255,255,.8) !important;
}
.chat-box.smm .message.onecharacter img {
  padding-top: 4px;
  width: 3em;
}
.chat-box.smm .user-name {
  position: absolute;
  color: transparent;
  bottom: -2px;
  top: auto;
  left: -128px;
  text-shadow: none;
  border-radius: 40px;
  border-width: 4px;
  background: white !important;
  height: 34px;
  width: 34px;
  padding: 2px;
  overflow: hidden;
  font-size: 0px;
  font-weight: bold;
  letter-spacing: 6px;
  text-align: left;
  max-height: none;
}
.chat-box.smm .user-name .user-name-text {
  line-height: normal;
  filter: none;
  vertical-align: baseline;
}
.chat-box.smm .user-name::first-letter {
  font-size: 32px;
  padding: 4px;
  line-height: 1;
  text-transform: uppercase;
}

/* SMM S size */
.chat-box.smm.sizes {

}
.chat-box.smm.sizes .chat-line .chat-line-inner {
  border-width: 4px;
}
.chat-box.smm.sizes .chat-line .chat-line-bg {
  padding-bottom: 4px;
}
.chat-box.smm.sizes .chat-line .chat-user::before {
  height: 36px;
  width: 36px;
  border-width: 4px;
}
.chat-box.smm.sizes .chat-line .chat-user .chat-user-avatar {
  height: 36px;
  width: 36px;
  border-width: 4px;
  background-size: 36px !important;
}
.chat-box.smm.sizes .user-name {
  height: 16px;
  width: 16px;
  left: -74px;
  bottom: 4px;
  padding: 2px;
  line-height: 1.2;
}
.chat-box.smm.sizes .user-name::first-letter {
  font-size: 14px;
  padding: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}
.chat-box.smm.sizes .chat-line .chat-user .badges {
  left: 48px;
}
.chat-box.smm.sizes .message {
  font-size: 1.1em;
}

/* Instalive Theme */
#chat.instalive {
  height: max-content;
  flex-direction: column;
  justify-content: flex-end;
  height: 55%;
  -webkit-mask-image: -webkit-gradient(linear, 0% 50%, 0% 0%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: rgba(0, 0, 0, .3);
}
.chat-box.instalive {
  display: table;
  position: initial;
  max-width: 720px;
  min-height: 96px;
}
.chat-box.instalive.visible {
  animation: none;
}
.chat-box.instalive .chat-line {
  display: flex;
  flex-direction: row;
  animation: none;
  padding-top: 0;
  padding-bottom: 1em;
  font-size: 1.4em;
  align-items: center;
}
.chat-box.instalive .chat-line .chat-line-bg {
  order: 1;
  box-shadow: none;
  background: transparent !important;
  border-radius: 0;
}
.chat-box.instalive .chat-line .chat-line-inner {
  margin-bottom: 0;
  padding-left: 1em;
  border: none;
  background: transparent !important;
}
.chat-box.instalive .chat-line .message {
  font-family: 'Pretendard-Regular';
  background: transparent !important;
  text-shadow: none;
  padding: 0;
  border-radius: 0;
  filter: drop-shadow(0px 1px 1px #333);
}
.chat-box.instalive .chat-line .user-name {
  font-family: 'Pretendard-Regular';
  background: transparent !important;
  border: none;
  text-shadow: none;
  padding: 0;
  position: initial;
  filter: drop-shadow(0px 1px 1px #333);
  max-width: none;
  max-height: none;
  font-weight: bold;
}
.chat-box.instalive .chat-line .user-name .user-name-text {
  line-height: normal;
  vertical-align: baseline;
  filter: none;
}
.chat-box.instalive .chat-line .chat-line-inner-tail-shadow {
  display: none;
}
.chat-box.instalive .chat-line .chat-user {
  order: 0;
  background-color: white;
  border-radius: 100px;
}
.chat-box.instalive .chat-line .chat-user .chat-user-avatar {
  animation: none;
  border-radius: 100px;
  border: 10px solid;
  color: transparent !important;
  background-size: 60px !important;
  background-position: center !important;
  filter: none;
  margin-left: 0px;
}
.chat-box.instalive .chat-line .chat-user .badges {
  top: auto;
  right: auto;
  width: auto;
  left: 2em;
}
.chat-box.instalive .chat-line .chat-user .badges img {
  position: absolute;
  top: -84px;
}
.chat-box.instalive .chat-line .chat-user .badges img:nth-child(2) {
  left: 18px;
}
.chat-box.instalive .chat-line .chat-user .badges img:nth-child(3) {
  left: 36px;
}
.chat-box.instalive .chat-line .chat-user .badges img:nth-child(4) {
  left: 54px;
}

/* 코믹스 스타일 말풍선 */
.chat-line.comic {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2em;
}
.chat-line.comic .chat-user .chat-user-avatar.hide {
  display: block;
  background: none;
  height: 1em;
}
.chat-line.comic .star {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  z-index: -2;
  animation: rotatestar 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.chat-line.comic .user-name {
  top: -28px;
  left: 8px;
}
.chat-line.comic .message {
  background: transparent !important;
  font-size: 3.2em;
  line-height: .1;
  width: 114px;
  text-align: center;
  padding: .66em .2em;
  font-family: 'Bangers', 'BRBA_B';
  text-shadow: 2px 3px 1px rgb(255 255 255);
  transform: rotate(-5deg);
}
.chat-line.comic .chat-line-bg,
.chat-line.comic .chat-line-inner {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 0px;
}
.chat-line.comic .chat-line-inner-tail-shadow {
  display: none;
}
.chat-line.comic .chat-user .badges {
  left: 28px;
}

.chat-line.comic.blob .blob {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  z-index: -2;
  animation: breathblob 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.chat-line.comic.blob .message {
  font-family: '국립박물관문화재단클래식B';
  font-weight: bold;
  transform: none;
}
.chat-box.mlt .chat-line.comic {
  padding-left: 1em;
}
.chat-box.mlt .chat-line.comic .chat-line-inner {
  filter: none;
}
.chat-box.mlt .chat-line.comic .spbg {
  left: -1em;
}

@keyframes breathblob {
  0% {
    transform: scale(.5);
   }
   100% {
    transform: scale(.53);
   }
}
@keyframes rotatestar {
  0% {
   transform: scale(.55) rotate(0deg);
  }
  100% {
   transform: scale(.55) rotate(360deg);
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes slide {
  0% {
    margin-left: 0px;  
  }
  100% {
    margin-left: 200px;  
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
@keyframes left-to-right {
  0% {
    padding-right: 10px;
  }
  100% {
    padding-right: 0px;
  }
}
@keyframes fadeout {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}